{% extends "layout.njk" %}
{% block content %}
<main>
    <div>
    <nav class="primary-nav">
        <ul role="list" class="nav-list flex-group">

            <h1>{{ title }}</h1>
            <button type="submit"><a href="/login">Login</a></button>
            <button type="submit"><a href="/register">Register</a></button>
        </ul>
        </nav>
    </div>


    {% for row in rows %}
    <section>
        {{ row.id }} {{ row.authorId }} {{ row.author }}
        <h1>{{ row.title }}</h1>
        <p>{{ row.content }}</p>
        <p>Created {{ row.createdAt }}</p>
        <p>{{ row.name }}</p>
    </section>
    {% endfor %}

</main>
{% endblock %}